{% load static %}

<a href="/category/create">Add</a>
<table border='1'>
    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for car in cars %}
    <tr>
        <td>{{car.0}}</td>
        <td>{{car.1}}</td>
        <td>{{car.2}}</td>
        <td>{{car.3}}</td>
        <td>
            <a href='edit/{{car.0}}'>Edit</a> 
            | 
            <a href='delete/{{car.0}}' onclick="return delMsg(e);">Delete</a> 
        </td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript">
    function delMsg(e) {
        console.log(e);
        if (confirm("Are you sure about deleting record?")) {
            alert('1 row deleted.');
            return true;
        }
        else
            return false;
    }
</script>